.container {
  margin: 0 40px;
  padding-top: 100px;

  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
}


.questy {
  position: absolute;
  right: 10px;
  transform: translateX(-50%);
}