.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;

  gap: 24px;
}



.bigScreen {
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16 / 9;

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--surface);
  overflow: hidden;
}


.bigScreen img {
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px 2px black;
  border: var(--border);
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.slider {
  display: flex;
  align-items: center;

  gap: 12px;

  margin-top: 16px;
}



.slider ul {
  display: flex;
  gap: 8px;

  list-style: none;
}



.slider li {
  width: 100px;
  height: 60px;
  cursor: pointer;

  border: var(--border);
  border-radius: 8px;

  overflow: hidden;
}



.slider img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 6px ;
}




.description h1 {
  font-family: "cairopixel";
  font-size: 64px;
  display: flex;
  align-items: end;
  line-height: 0.65;

  gap: 8px
}



.description h1 span {
  background-color: var(--text);
  padding:  2px 6px;
  border-radius: 5px;
  color: var(--surface);
  font-size: 14px;
}

.shortDescription {
  font-size: 14px;
  color: var(--text-secondary);
  font-family: 'Dmono';
}

.mainDescription {
  font-size: 14px;
  color: var(--text);
  font-family: 'Dmono';
}



.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}



.tags span {
  font-family: 'Dmono';
  font-size: 12px;
  padding: 4px 8px;

  background-color: var(--surface);
  border: var(--border);
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 12px;
}

.accentButton {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;

  height: 50px;

}
