@media (max-width: 900px) {
    
    body {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        align-items: center;
        display: flex;
        background-size: 250%;
        padding: 0;
        margin: 0;
        padding-top: 40px;
    }


    .block-left,
    .block-right {
        max-width: 85%;
        width: auto;
        order: 1;
    }
    .block-centre {
        width: auto;
        padding: 0;
        margin: 0;
        order: 0;
    }

    footer {
        order: 2;
        bottom: 0;
    }

    .stef1428-button, .thk-button, .teez-button {
        scale: 1;
    }

    .link-button {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: center;
        padding-right: 2px;
    }
}