@media (max-width: 900px) {
    
    body {
        width: 100%;
        flex-direction: none;
        justify-content: center;
        position: relative;
        background-size: cover;
        display: flex;
        gap: 30px;
        margin: 15px;
    }


    .block-left,
    .block-right {
        display: none;
    }
    .block-centre {
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative; 
    }

    footer {
        margin-top: 100%;
        bottom: 0;
    }
}