.crab-runner {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 0px;
    display: flex;
    align-items: center;
    line-height: 0px;
}
  
.crab {
    position: absolute;
    top: 0;
    width: 70px;
    height: 50px;
    animation: runCrab 6s linear infinite;
}
  
.crab:nth-child(2) {
    animation-delay: 2s;
}
  
.crab:nth-child(3) {
    animation-delay: 4s;
}
  
@keyframes runCrab {
    0% {
      left: -50px;
    }
    100% {
      left: 100%;
    }
}