.buttons, .prj {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0, 0, 0, 10px var(--text-color);
    margin-left: -5px;
}

.buttons > a {
    color: var(--text-color);
    cursor: grab;
    padding: 8px 10px;
    font-size: 94%;
    border: 2px solid ;
    border-color: var(--border-color);
    border-radius: 6px;
    user-select: none;
    margin: 5px 0 0 5px;
    flex: 1 0 calc(25% - 32px);
    text-align: center;
    transition: transform 0.2s ease;
    box-shadow: inset 0 0 6px var(--text-color);
    
    
}

.buttons > a:focus {
    background: var(--focus-color);
}

.buttons > a:hover {
  transform: scale(1.1);
  border-color: var(--green-color);
  box-shadow: inset 0 0 10px var(--green-color);
}

.buttons > a:active {
  color: var(--text-color);
  border-color: none;
  box-shadow: 0 0 20px var(--green-color);
  background: var(--green-color);
  transform: scale(1.1);
}



.cards > div {
  border: 0.16em solid var(--border-color);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: inset 0 0 10px var(--text-color);
  transition: transform 0.2s ease;
}

.card-name {
  display: flex;
  align-items: center;
  font-size: 80%;
  color: var(--text-color);
  cursor: grab;
}

.cards .link {
  color: var(--accentless-color);
  margin-left: auto;
}

.cards #symbol-icon {
  margin: 0 0 -3px -4px;
}

.cards > img {
  width: 31px;
  height: 31px;
  margin-left: 10px;
  margin-right: 8px;
  margin-bottom: -3px;

}

.card-red:hover  {
  transform: scale(1.1);
  border-color: var(--red-color);
  background-color: var(--red-color);
  box-shadow: 0 0 20px var(--red-color);
}

.card-blue:hover  {
  transform: scale(1.1);
  border-color: var(--blue-color);
  background-color: var(--blue-color);
  box-shadow:  0 0 20px var(--blue-color);
}

.card-copy:active  {
  transform: scale(1.2);
  border-color: var(--green-color);
  background-color: var(--green-color);
  box-shadow:  0 0 20px var(--green-color);
}

.cards p {
  margin: 5px 3px 13px 2px;
  font-size: 70%;
}


.about-me {
  padding: 10px;
  border: 0.16em solid var(--border-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.about-me:hover {
  padding: 10px;
  transform: scale(1.1);
  border: 0.16em solid var(--text-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 8px;
}
.about-donate {
  margin: 50px 10px 10px 10px;
  padding: 10px;
  border: 0.16em solid var(--border-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 8px;
  transition: transform 0.2s ease;
  backdrop-filter: blur(2px);
}
.go-back > a {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  margin: 40px 10px 10px 10px;
  padding: 10px;
  border: 0.16em solid var(--border-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 8px;
  transition: transform 0.2s ease;
  backdrop-filter: blur(2px);
}
.go-back > a:hover {
  padding: 10px;
  transform: scale(1.1);
  border: 0.16em solid var(--yellow-color);
  box-shadow: inset 0 0 10px var(--yellow-color);
  border-radius: 8px;
}

.about-donate:hover {
  padding: 10px;
  transform: scale(1.1);
  border: 0.16em solid var(--text-color);
  box-shadow: inset 0 0 10px var(--text-color);
  border-radius: 8px;
}