:root {
    --color-calendar-graph-day-bg: #232325 !important;
    --color-calendar-graph-day-L1-bg: #0a4208;
    --color-calendar-graph-day-L2-bg: #047526;
    --color-calendar-graph-day-L3-bg: #45a045;
    --color-calendar-graph-day-L4-bg: #39dd34;
  }
  
  .ContributionCalendar-day[data-level='0'] {
      background-color: var(--color-calendar-graph-day-bg);
      border-radius: 3px;
  }
  
  .ContributionCalendar-day[data-level='1'] {
      background-color: var(--color-calendar-graph-day-L1-bg);
      border-radius: 3px;
  }
  
  .ContributionCalendar-day[data-level='2'] {
      background-color: var(--color-calendar-graph-day-L2-bg);
      border-radius: 3px;
  }
  
  .ContributionCalendar-day[data-level='3'] {
      background-color: var(--color-calendar-graph-day-L3-bg);
      border-radius: 3px;
  }
  
  .ContributionCalendar-day[data-level='4'] {
      background-color: var(--color-calendar-graph-day-L4-bg);
      border-radius: 3px;
  }
  
  table.ContributionCalendar-grid {
      margin-bottom: 0pt;
  }
  
  table.ContributionCalendar-grid td {
      padding: 4pt;
  }
  
  table.ContributionCalendar-grid td span.sr-only {
      display: none;
  }
  
  td.ContributionCalendar-label span[aria-hidden='true'] {
      font-size: 8pt;
      left: -1pt;
  }
  
  tool-tip {
      display: none;
  }
  
  .calendar .width-full{
      display: none;
  }
  
  .calendar {
      width: 100%;
      max-width: 860px;
      background-color: #161716;
      border: 2px solid #1e1e20 !important;
      color: white;
      font-family: "Doto" !important;
      border-radius: 20px !important;
      text-align: center;
      padding: 10px !important;
      padding-bottom: 0px !important;
      min-height: 165px !important;
      box-shadow: 0 0 15px rgba(0, 0, 0);
  }

  @media screen and (max-width: 800px) {
    .calendar {
       width: 98%;
        padding: 10px;
    }
}

  
  * {
      scrollbar-width: thin;
      scrollbar-color: #202020fb rgb(15, 15, 15);
  }
  
  
  .calendar::-webkit-scrollbar-track {
      background: rgb(15, 15, 15); 
  }
  
  .calendar::-webkit-scrollbar-thumb {
      background-color: #444; 
      border-radius: 4px;
  }
  
  .calendar::-webkit-scrollbar-thumb:hover {
      background-color: #555; 
  }
  
  @media screen and (max-width: 800px) {
      .calendar {
          
          scrollbar-color: rgb(15, 15, 15); 
      }
  }
  
  .calendar-graph text.wday,
  .calendar-graph text.month {
    width: 100%;
      font-size: 10px;
      fill: #aaa;
  }

  div.px-md-5 {
      height: 2rem;
      
  }
  
  div.float-right {
      text-align: right;
      padding: 0 14px 10px 0;
      display: inline-block;
      justify-content: right;
      
  }
  
  div.float-right div {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      position: relative;
      bottom: -1px;
      padding: 0;
      
  }
  
  div.float-right span.sr-only {
      display: none;
      
  }
  
  .contrib-legend .legend li {
      display: inline-block;
      width: 10px;
      height: 10px;
      
  }
  
  .text-small {
      font-size: 12px;
      color: white;
      
  }
  
  .calendar-graph {
      padding: 5px 0;
      height: auto;
      text-align: center;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 18px;
      display: block;
      color: white;
  }
  
  .calendar img.spinner {
      width: 70px;
      margin-top: 50px;
      min-height: 70px;
  }
  
  .monospace {
      text-align: center;
      color: white;
      font-family: monospace;
  }
  
  .monospace a {
      color: #1D75AB;
      text-decoration: none;
  }
  
  .contrib-footer {
      font-size: 11px;
      padding: 0 10px 12px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      height: 26px;
  }
  
  .left.text-muted {
      float: left;
      margin-left: 9px;
      color: white;
      
  }
  .left.text-muted a {
      color: #4078c0;
      text-decoration: none;
      
  }
  .left.text-muted a:hover,
  .monospace a:hover {
      text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
      display: none;
  }
  
  .float-left.text-gray {
      float: left;
      
  }
  #user-activity-overview{
      display:none;
  }
  

  text.ContributionCalendar-label {
      fill: #767676;
      font-size: 11px;
      
  }
  
  caption.sr-only {
      display: none;
      
  }
  
td.ContributionCalendar-label {
    position: relative;
    right: 3px; 
    text-align: right;
    padding-right: 10px !important;
  }
  
  table.ContributionCalendar-grid td:not(.ContributionCalendar-label) {
    padding: 4pt;
  }

.position-relative > a {
    display: none;
}