:root {
    --primary-color: ;
    --border-color: #fff;
    --text-color: #fff;
    --accentless-color: #bbbbbb8e;
    --background-color: #06141b;
    --accent2-color: #ffa83a;

    --outset-border-radius: 20px ;
    --inset-border-radius: 10px ;
}

@font-face {
    font-family: 'Departure Mono';
    src: url('../resource/fonts/DepartureMono-Regular.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}



