:root {
  --text-color: #f5f5f5;
  --background-color: #270029;
  --border-color: #ffffff9f;
  --focus-color: #f1e3b47e;
  --hover-color: #7ad194a4;
  --accentless-color: #dadada8f;
  --green-color: #25fc65a4;
  --orange-color: #eb9b24dc;
  --yellow-color: #fbff00dc;
  --blue-color: #246aebdc;
  --purple-color: #9124ebdc;
  --red-color: #eb2424dc;
  --black-color: #141414;
  --gray-color: #1d1d1d;
  --gray2-color: #303030;
  --lightgray-color: #525252;
}