:root {
  --text-color: #feffe7;
  --background-color: #291d26;
  --border-color: #ffffff9f;
  --focus-color: #f1e3b47e;
  --hover-color: #7ad194a4;
  --accentless-color: #a3b1a3af;
  --green-color: #25fc65a4;
  --orange-color: #eb9b24dc;
  --yellow-color: #fbff00dc;
  --blue-color: #246aebdc;
  --red-color: #eb2424dc;
}