:root {
  --text-color: #f5f5f5;
  --background-color: #070709;
  --border-color: #1e1e20;
  --focus-color: #f1e3b47e;
  --hover-color: #7ad194a4;
  --accentless-color: #dadada8f;
  --green-color: #25fc65a4;
  --orange-color: #eb9b24dc;
  --yellow-color: #fbff00dc;
  --blue-color: #246aebdc;
  --purple-color: #9124ebdc;
  --red-color: #eb2424dc;
  --black-color: #000000;
  --gray-color: #161716;
  --gray2-color: #242726;
  --lightgray-color: #353a3a;

}