:root {
  --text-color: #feffe7;
  --background-color: #291d26;
  --border-color: #a3b1a3af;
  --focus-color: #f1e3b47e;
  --hover-color: #7ad194a4;
  --aka-color: #a3b1a3af;
  --active-color: #25fc65a4;
  --accent-color: #eb9b24dc;
}