/* ADDITIONAL */

/* ADDITIONAL */

/* BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.165;
}

body {
    width: 97%;
    color: var(--text-color);
    font-family: "JetBrains Mono", monospace;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    display: flex;
    background-color: var(--background-color);
    background: url(/resource/background.png);
    background-size: 60%;
    gap: 30px;
    margin: 30px;
}

a {
    text-decoration: none;
}

.accentless {
    color: var(--accentless-color);
    font-size: 10px;
    font-family: Doto;
}

.left {
    width: 40%;
}

.right {
    width: 40%;
}


/* BASE */

/* LEFT-BlOCK */
.block-left {
    width: 35%;
}
.block-stack {
    width: 100%;
    justify-content: center;
    text-align: center; 
    padding: 10px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
}

.stack-type {
    text-align: center;
    margin: 10px;
    padding:10px;
    border: solid 2px var(--gray-color);
    border-radius: 16px;
    background: var(--gray-color);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color);
    user-select: none;
}

.basic-lvl h3{
    font-size: 70%;
    font-family: Doto;
    color: var(--accentless-color);
    text-align: center;
}

.stack-block-system {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    gap: 20px;
}

.block-system {
    color: var(--white-color);
    display: flex;
    font-weight: 500;
    justify-content: center;
    flex: 1 0 calc(25% - 32px);
    align-items: center;
    font-size: 14px;
    justify-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--gray-color);
    border: 2px solid var(--border-color);
    box-shadow: inset 0 0 10px var(--background-color), 0 0 12px var(--black-color);  
    transition: transform 0.2s ease;
}

.block-system img{
    border-radius: 5px;
    margin-right: 5px;
    width: 20px;
}

.block-system:hover {
    transform: scale(1.1);
}


.block-gif {
    margin-top: 30px;
    border: solid 2px var(--gray-color);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
}


.ggif {
    padding: 20px;
}

.ggif img{
    user-select:none;
    width: 100%; 
    filter: drop-shadow(0 0 10px var(--black-color));
    border-radius: 20px;
    box-shadow: 0 0 20px var(--blue-color);
    
}

/* LEFT-BlOCK */

/* CENTER-BLOCK */

.block-about-me {
    padding: 20px;
    width: 345px;
    border: solid 2px var(--gray-color);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
    backdrop-filter: blur(1px);
}

.about-me {
    padding: 10px;
    border: 0.16em solid var(--gray-color);
    background: var(--gray-color) ;
    box-shadow: inset 0 0 20px var(--black-color), 0 0 10px var(--black-color);;
    border-radius: 16px;
    transition: transform 0.2s ease;
}
  

.block-about-me span {
    display: flex;
    justify-content: center;
}

.name {
    font-size: 20px;
}

.nick h1 {
    text-align: center;
}

.kamodzi, h4{
    color: var(--accentless-color);
    font-size: 10px;
}

.nick {
    line-height: 0.2; 
 }
 
 .bio {
     font-size: 14px;
 }


.block-projects {
    margin-top: 20px;
    padding: 20px;
    width: 345px;
    border: solid 2px var(--gray-color);
    border-radius: 16px;
    box-shadow: inset 0 0 20px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
    backdrop-filter: blur(1px);
}

/* CENTER-BLOCK */

/* RIGHT-BLOCK */
.block-right {
    width: 35%;
    right: 0;
    top: 0;
    bottom: 0;
}


.link > span {
    padding: 10px;
    font-size: 70%;
}

.block-info {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: solid 2px var(--gray-color);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);

}

.basic-lvl h3{
    font-size: 70%;
    color: var(--accentless-color);
    text-align: center;
}

.info {
    justify-content: start;
}

.about-me-block-system {

    width: 100%;
}

.block-system img{
    border-radius: 5px;
    margin-right: 5px;
    width: 20px;
}

.eng {
    background: url();
}

.doelsquad {
    color: var(--white-color);
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    justify-items: center;
    border-radius: 15px;
    background-color: var(--gray-color);
    border: 2px solid var(--border-color);
    box-shadow: inset 0 0 10px var(--gray-color), 0 0 10px var(--black-color);
    transition: transform 0.2s ease;
}
.stack-block-system a{color: var(--white-color);}
.doelsquad img {
    border-radius: 10px;
    width: 70px;
}

.doelsquad:hover {
    transform: scale(1.05);
}


.scale {transition: transform 0.2s ease;}
.scale:hover {transform: scale(1.05);}




/* RIGHT-BLOCK */
/* ANOTHER */
.about-donate {
    font-family: "JetBrains mono";
    padding: 10px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
    transition: transform 0.2s ease;
}

.about-donate span {
    text-align: center;
    display: flex;
    justify-content: center;
}
.go-back > a {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin: 40px 10px 10px 10px;
    padding: 10px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    backdrop-filter: blur(1px);
    box-shadow: inset 0 0 10px var(--black-color), 0 0 10px var(--black-color), inset -2px -2px 10px var(--gray-color);
    transition: transform 0.2s ease;
}
.go-back > a:hover {
    transform: scale(1.1);
    border: 0.16em solid var(--yellow-color);
    box-shadow: inset 0 0 30px var(--yellow-color), 0 0 20px var(--yellow-color);
}
  
.about-donate:hover {
    transform: scale(1.1);
}

/* ANOTHER */

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
}

.link-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-right: 10px;
}
  
.stef1428-button, .thk-button, .teez-button {
    transition: transform 0.2s ease;
}

.stef1428-button:hover, .thk-button:hover, .teez-button:hover {
    transform: scale(1.1);
}

.copysr {
    display: flex;
    justify-content: center;
}
/* FOOTER */


/* DONATE */

.id-ton {
    margin: 10px;
    padding: 10px;
    color: var(--accentless-color);
    text-shadow: 0 0 1px var(--accentless-color);

    box-shadow: inset 0 0 50px var(--black-color);
    border-radius: 6px;
    font-size: 10px;

}

/* DONATE */