* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.165;
    scrollbar-width: none;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Departure Mono', monospace;
    justify-content: center;
    display: flex;
    background: url(/resource/background.png);
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    color: var(--accentless-color);
    margin-top: 50%;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px var(--background-color);
}

.block-about-me {
    padding: 20px;
    width: 345px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    box-shadow: inset 0 0 10px var(--accentless-color);
    margin-top: 10px;
    backdrop-filter: blur(3px);
}

.block-projects {
    padding: 20px;
    width: 345px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    box-shadow: inset 0 0 10px var(--accentless-color);
    margin-top: 20px;
    backdrop-filter: blur(3px);
    transition: transform 0.2s ease;
}

.block-projects:hover {
    transform: scale(1.1);
    width: 345px;
    border: solid 2px var(--border-color);
    border-radius: 16px;
    box-shadow: inset 0 0 10px var(--accentless-color);
    backdrop-filter: blur(3px);
}

a {
    text-decoration: none;
}

h3, .donate {
    text-align: center;
}


span {
    display: flex;
    justify-content: center;
}

.name{
    font-size: 20px;
}
.kamodzi, h4{
    color: var(--accentless-color);
    font-size: 10px;
}

.accentless {
    color: var(--accentless-color);
    font-size: 10px;
}

.nick {
   line-height: 0.2; 
}

.bio {
    font-size: 14px;
}

.back {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--accentless-color);
}
.back:hover {
    color: var(--green-color);
}
.back:active {
    color: var(--green-color);
    
}

.link > span {
    padding: 10px;
    font-size: 70%;
}

.error {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

@font-face {
    font-family: 'Departure Mono';
    src: url('../resource/fonts/DepartureMono-Regular.woff2') format('woff2'),
         url('../resource/fonts/DepartureMono-Regular.woff') format('woff'),
         url('../resource/fonts/DepartureMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}